* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
  }
  span{
    padding-right: 4px;
  }
  nav {
    width: 100vw;
    height: 7vh;
    background-color:#00AC47;
    display: flex;
    align-items: center;
  }
  nav > p {
    color: white;
    padding-inline: 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  nav > p:nth-child(3) {
    color: #00AC47;
    background-color: white;
    line-height: 48px;
    border-radius: 10px;
  }
  header {
    width: 100vw;
    height: 7vh;
    background-color: rgb(130, 160, 130);
    display: flex;
    align-items: center;
  }
  .material-icons {
    margin-inline: 20px;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all linear 0.25s;
  }
  .active {
    background-color: rgb(204, 230, 181);
  }
  .material-icons:hover {
    scale: 110%;
  }
  #download {
    position: fixed;
    /* top: 5px; */
    right: 20px;
    background-color: rgb(32, 29, 211);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: small;
    font-weight: 100;
    border: none;
  }
  
  main {
    width: 100dvw;
    height: 86vh;
    overflow: scroll;
  }
  .block-num {
    background-color: white;
    width: 80px;
    line-height: 30px;
    text-align: center;
    margin-inline: 20px;
  }
  .row {
    display: flex;
  }
  .first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: 25px;
    font-weight: bold;
    border: 1px solid rgb(214, 197, 199);
    background-color: white;
  }
  
  .other-row {
    display: flex;
    align-items: center;
    min-width: 130px;
    height: 25px;
    border: 1px solid rgb(214, 197, 199);
    outline: none;
    overflow-x: hidden;
  }
  .slNo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 25px;
    font-weight: bold;
    border: 1px solid gray;
    position: sticky;
    left: 0;
    background-color: white;
  }
  #bg-picker,
  #color-picker {
    display: none;
  }
  .font-size {
    margin-inline: 5px;
  }
  .actual-text {
    width: 400px;
    height: 25px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
 

  .material-icons {
    cursor: pointer;
    margin-right: 5px;
    font-size: 20px;
  }
  .foot {
    display: flex;
    align-items: center;
  }
  
  .sheet-list {
    display: flex;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .button {
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  